.caption {
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

html[data-theme="light"] .caption {
  color: var(--ifm-color-secondary-darkest);
}
