.wrapper {
  padding-left: var(--ifm-pre-padding);
  font-size: 0.75em;
}

.wrapper code,
.wrapper pre {
  border: none !important;
  background: none !important;
}

.wrapper div {
  box-shadow: none;
}

.wrapper table {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}
